@font-face {
  font-family: 'icomoon--common--icomoon-free';
  src:url('../../fonts/icomoon/icomoon--common/icomoon--common--icomoon-free/fonts/icomoon.eot?-c3zxka');
  src:url('../../fonts/icomoon/icomoon--common/icomoon--common--icomoon-free/fonts/icomoon.eot?#iefix-c3zxka') format('embedded-opentype'),
    url('../../fonts/icomoon/icomoon--common/icomoon--common--icomoon-free/fonts/icomoon.woff?-c3zxka') format('woff'),
    url('../../fonts/icomoon/icomoon--common/icomoon--common--icomoon-free/fonts/icomoon.ttf?-c3zxka') format('truetype'),
    url('../../fonts/icomoon/icomoon--common/icomoon--common--icomoon-free/fonts/icomoon.svg?-c3zxka#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

// @include icon('icomoon--common--icomoon-free');

%icon-home2 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e949";
}
%icon-home22 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e94a";
}
%icon-home3 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e94b";
}
%icon-office {
  @include icon('icomoon--common--icomoon-free');
  content: "\e94c";
}
%icon-newspaper {
  @include icon('icomoon--common--icomoon-free');
  content: "\e94d";
}
%icon-pencil2 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e94e";
}
%icon-pencil22 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e94f";
}
%icon-quill {
  @include icon('icomoon--common--icomoon-free');
  content: "\e950";
}
%icon-pen {
  @include icon('icomoon--common--icomoon-free');
  content: "\e951";
}
%icon-eyedropper2 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e952";
}
%icon-droplet {
  @include icon('icomoon--common--icomoon-free');
  content: "\e953";
}
%icon-paint-format {
  @include icon('icomoon--common--icomoon-free');
  content: "\e954";
}
%icon-image2 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e955";
}
%icon-images {
  @include icon('icomoon--common--icomoon-free');
  content: "\e956";
}
%icon-camera2 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e957";
}
%icon-headphones {
  @include icon('icomoon--common--icomoon-free');
  content: "\e958";
}
%icon-music2 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e959";
}
%icon-play2 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e95a";
}
%icon-film2 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e95b";
}
%icon-video-camera2 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e95c";
}
%icon-bullhorn2 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e95d";
}
%icon-mic {
  @include icon('icomoon--common--icomoon-free');
  content: "\e95e";
}
%icon-book2 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e95f";
}
%icon-books {
  @include icon('icomoon--common--icomoon-free');
  content: "\e960";
}
%icon-file-text2 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e961";
}
%icon-file-empty {
  @include icon('icomoon--common--icomoon-free');
  content: "\e962";
}
%icon-files-empty {
  @include icon('icomoon--common--icomoon-free');
  content: "\e963";
}
%icon-file-text22 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e964";
}
%icon-file-picture {
  @include icon('icomoon--common--icomoon-free');
  content: "\e965";
}
%icon-file-music {
  @include icon('icomoon--common--icomoon-free');
  content: "\e966";
}
%icon-file-play {
  @include icon('icomoon--common--icomoon-free');
  content: "\e967";
}
%icon-copy {
  @include icon('icomoon--common--icomoon-free');
  content: "\e968";
}
%icon-paste {
  @include icon('icomoon--common--icomoon-free');
  content: "\e969";
}
%icon-stack {
  @include icon('icomoon--common--icomoon-free');
  content: "\e96a";
}
%icon-folder2 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e96b";
}
%icon-folder-open2 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e96c";
}
%icon-folder-plus {
  @include icon('icomoon--common--icomoon-free');
  content: "\e96d";
}
%icon-folder-minus {
  @include icon('icomoon--common--icomoon-free');
  content: "\e96e";
}
%icon-cart {
  @include icon('icomoon--common--icomoon-free');
  content: "\e96f";
}
%icon-phone2 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e970";
}
%icon-phone-hang-up {
  @include icon('icomoon--common--icomoon-free');
  content: "\e971";
}
%icon-address-book2 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e972";
}
%icon-envelop {
  @include icon('icomoon--common--icomoon-free');
  content: "\e973";
}
%icon-pushpin {
  @include icon('icomoon--common--icomoon-free');
  content: "\e974";
}
%icon-location {
  @include icon('icomoon--common--icomoon-free');
  content: "\e975";
}
%icon-location2 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e976";
}
%icon-compass {
  @include icon('icomoon--common--icomoon-free');
  content: "\e977";
}
%icon-map2 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e978";
}
%icon-map22 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e979";
}
%icon-clock {
  @include icon('icomoon--common--icomoon-free');
  content: "\e97a";
}
%icon-clock2 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e97b";
}
%icon-alarm {
  @include icon('icomoon--common--icomoon-free');
  content: "\e97c";
}
%icon-bell2 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e97d";
}
%icon-stopwatch {
  @include icon('icomoon--common--icomoon-free');
  content: "\e97e";
}
%icon-calendar2 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e97f";
}
%icon-printer {
  @include icon('icomoon--common--icomoon-free');
  content: "\e980";
}
%icon-drawer {
  @include icon('icomoon--common--icomoon-free');
  content: "\e981";
}
%icon-drawer2 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e982";
}
%icon-download2 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e983";
}
%icon-upload {
  @include icon('icomoon--common--icomoon-free');
  content: "\e984";
}
%icon-floppy-disk {
  @include icon('icomoon--common--icomoon-free');
  content: "\e985";
}
%icon-database {
  @include icon('icomoon--common--icomoon-free');
  content: "\e986";
}
%icon-user2 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e987";
}
%icon-users2 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e988";
}
%icon-spinner {
  @include icon('icomoon--common--icomoon-free');
  content: "\e989";
}
%icon-spinner2 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e98a";
}
%icon-spinner3 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e98b";
}
%icon-spinner4 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e98c";
}
%icon-spinner5 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e98d";
}
%icon-spinner6 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e98e";
}
%icon-spinner7 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e98f";
}
%icon-spinner8 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e990";
}
%icon-spinner9 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e991";
}
%icon-spinner10 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e992";
}
%icon-search2 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e993";
}
%icon-key {
  @include icon('icomoon--common--icomoon-free');
  content: "\e994";
}
%icon-key2 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e995";
}
%icon-lock2 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e996";
}
%icon-unlocked {
  @include icon('icomoon--common--icomoon-free');
  content: "\e997";
}
%icon-wrench2 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e998";
}
%icon-cog2 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e999";
}
%icon-cogs2 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e99a";
}
%icon-hammer {
  @include icon('icomoon--common--icomoon-free');
  content: "\e99b";
}
%icon-magic-wand {
  @include icon('icomoon--common--icomoon-free');
  content: "\e99c";
}
%icon-trophy2 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e99e";
}
%icon-gift {
  @include icon('icomoon--common--icomoon-free');
  content: "\e99f";
}
%icon-glass2 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e9a0";
}
%icon-glass22 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e9a1";
}
%icon-mug {
  @include icon('icomoon--common--icomoon-free');
  content: "\e9a2";
}
%icon-spoon-knife {
  @include icon('icomoon--common--icomoon-free');
  content: "\e9a3";
}
%icon-leaf {
  @include icon('icomoon--common--icomoon-free');
  content: "\e9a4";
}
%icon-fire {
  @include icon('icomoon--common--icomoon-free');
  content: "\e9a9";
}
%icon-bin {
  @include icon('icomoon--common--icomoon-free');
  content: "\e9ac";
}
%icon-bin2 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e9ad";
}
%icon-briefcase2 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e9ae";
}
%icon-airplane {
  @include icon('icomoon--common--icomoon-free');
  content: "\e9af";
}
%icon-truck {
  @include icon('icomoon--common--icomoon-free');
  content: "\e9b0";
}
%icon-shield {
  @include icon('icomoon--common--icomoon-free');
  content: "\e9b4";
}
%icon-download22 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e9c5";
}
%icon-upload2 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e9c6";
}
%icon-download3 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e9c7";
}
%icon-upload3 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e9c8";
}
%icon-earth {
  @include icon('icomoon--common--icomoon-free');
  content: "\e9ca";
}
%icon-link2 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e9cb";
}
%icon-flag2 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e9cc";
}
%icon-attachment {
  @include icon('icomoon--common--icomoon-free');
  content: "\e9cd";
}
%icon-eye2 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e9ce";
}
%icon-eye-blocked {
  @include icon('icomoon--common--icomoon-free');
  content: "\e9d1";
}
%icon-bookmark2 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e9d2";
}
%icon-bookmarks {
  @include icon('icomoon--common--icomoon-free');
  content: "\e9d3";
}
%icon-star-empty {
  @include icon('icomoon--common--icomoon-free');
  content: "\e9d7";
}
%icon-star-half2 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e9d8";
}
%icon-star-full {
  @include icon('icomoon--common--icomoon-free');
  content: "\e9d9";
}
%icon-heart2 {
  @include icon('icomoon--common--icomoon-free');
  content: "\e9da";
}
%icon-warning2 {
  @include icon('icomoon--common--icomoon-free');
  content: "\ea07";
}
%icon-notification {
  @include icon('icomoon--common--icomoon-free');
  content: "\ea08";
}
%icon-info {
  @include icon('icomoon--common--icomoon-free');
  content: "\ea0c";
}
%icon-cancel-circle {
  @include icon('icomoon--common--icomoon-free');
  content: "\ea0d";
}
%icon-blocked {
  @include icon('icomoon--common--icomoon-free');
  content: "\ea0e";
}
%icon-cross {
  @include icon('icomoon--common--icomoon-free');
  content: "\ea0f";
}
%icon-checkmark {
  @include icon('icomoon--common--icomoon-free');
  content: "\ea10";
}
%icon-enter {
  @include icon('icomoon--common--icomoon-free');
  content: "\ea13";
}
%icon-exit {
  @include icon('icomoon--common--icomoon-free');
  content: "\ea14";
}
%icon-checkbox-checked {
  @include icon('icomoon--common--icomoon-free');
  content: "\ea52";
}
%icon-checkbox-unchecked {
  @include icon('icomoon--common--icomoon-free');
  content: "\ea53";
}
%icon-radio-checked {
  @include icon('icomoon--common--icomoon-free');
  content: "\ea54";
}
%icon-radio-checked2 {
  @include icon('icomoon--common--icomoon-free');
  content: "\ea55";
}
%icon-radio-unchecked {
  @include icon('icomoon--common--icomoon-free');
  content: "\ea56";
}
