@font-face {
  font-family: 'icomoon--common--material-icons';
  src:url('../../fonts/icomoon/icomoon--common/icomoon--common--material-icons/fonts/icomoon.eot?-c3zxka');
  src:url('../../fonts/icomoon/icomoon--common/icomoon--common--material-icons/fonts/icomoon.eot?#iefix-c3zxka') format('embedded-opentype'),
    url('../../fonts/icomoon/icomoon--common/icomoon--common--material-icons/fonts/icomoon.woff?-c3zxka') format('woff'),
    url('../../fonts/icomoon/icomoon--common/icomoon--common--material-icons/fonts/icomoon.ttf?-c3zxka') format('truetype'),
    url('../../fonts/icomoon/icomoon--common/icomoon--common--material-icons/fonts/icomoon.svg?-c3zxka#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

// @include icon('icomoon--common--material-icons');

%icon-alarm2 {
  @include icon('icomoon--common--material-icons');
  content: "\e855";
}
%icon-access_alarms {
  @include icon('icomoon--common--material-icons');
  content: "\e191";
}
%icon-schedule {
  @include icon('icomoon--common--material-icons');
  content: "\e8b5";
}
%icon-account_box {
  @include icon('icomoon--common--material-icons');
  content: "\e851";
}
%icon-account_circle {
  @include icon('icomoon--common--material-icons');
  content: "\e853";
}
%icon-add {
  @include icon('icomoon--common--material-icons');
  content: "\e145";
}
%icon-add_circle {
  @include icon('icomoon--common--material-icons');
  content: "\e147";
}
%icon-control_point {
  @include icon('icomoon--common--material-icons');
  content: "\e3ba";
}
%icon-assignment {
  @include icon('icomoon--common--material-icons');
  content: "\e85d";
}
%icon-flag4 {
  @include icon('icomoon--common--material-icons');
  content: "\e153";
}
%icon-attach_file {
  @include icon('icomoon--common--material-icons');
  content: "\e226";
}
%icon-attach_money {
  @include icon('icomoon--common--material-icons');
  content: "\e227";
}
%icon-attachment3 {
  @include icon('icomoon--common--material-icons');
  content: "\e2bc";
}
%icon-audiotrack {
  @include icon('icomoon--common--material-icons');
  content: "\e3a1";
}
%icon-class {
  @include icon('icomoon--common--material-icons');
  content: "\e86e";
}
%icon-turned_in {
  @include icon('icomoon--common--material-icons');
  content: "\e8e6";
}
%icon-turned_in_not {
  @include icon('icomoon--common--material-icons');
  content: "\e8e7";
}
%icon-build {
  @include icon('icomoon--common--material-icons');
  content: "\e869";
}
%icon-burst_mode {
  @include icon('icomoon--common--material-icons');
  content: "\e43c";
}
%icon-domain {
  @include icon('icomoon--common--material-icons');
  content: "\e7ee";
}
%icon-business_center {
  @include icon('icomoon--common--material-icons');
  content: "\eb3f";
}
%icon-cake {
  @include icon('icomoon--common--material-icons');
  content: "\e7e9";
}
%icon-phone4 {
  @include icon('icomoon--common--material-icons');
  content: "\e0cd";
}
%icon-call_end {
  @include icon('icomoon--common--material-icons');
  content: "\e0b1";
}
%icon-photo_camera {
  @include icon('icomoon--common--material-icons');
  content: "\e412";
}
%icon-cancel2 {
  @include icon('icomoon--common--material-icons');
  content: "\e5c9";
}
%icon-check_box {
  @include icon('icomoon--common--material-icons');
  content: "\e834";
}
%icon-check_box_outline_blank {
  @include icon('icomoon--common--material-icons');
  content: "\e835";
}
%icon-check_circle {
  @include icon('icomoon--common--material-icons');
  content: "\e86c";
}
%icon-navigate_before {
  @include icon('icomoon--common--material-icons');
  content: "\e408";
}
%icon-navigate_next {
  @include icon('icomoon--common--material-icons');
  content: "\e409";
}
%icon-photo_library {
  @include icon('icomoon--common--material-icons');
  content: "\e413";
}
%icon-collections_bookmark {
  @include icon('icomoon--common--material-icons');
  content: "\e431";
}
%icon-comment {
  @include icon('icomoon--common--material-icons');
  content: "\e0b9";
}
%icon-content_copy {
  @include icon('icomoon--common--material-icons');
  content: "\e14d";
}
%icon-content_cut {
  @include icon('icomoon--common--material-icons');
  content: "\e14e";
}
%icon-content_paste {
  @include icon('icomoon--common--material-icons');
  content: "\e14f";
}
%icon-mode_edit {
  @include icon('icomoon--common--material-icons');
  content: "\e254";
}
%icon-create_new_folder {
  @include icon('icomoon--common--material-icons');
  content: "\e2cc";
}
%icon-payment {
  @include icon('icomoon--common--material-icons');
  content: "\e8a1";
}
%icon-delete2 {
  @include icon('icomoon--common--material-icons');
  content: "\e872";
}
%icon-delete_forever {
  @include icon('icomoon--common--material-icons');
  content: "\e947";
}
%icon-delete_sweep {
  @include icon('icomoon--common--material-icons');
  content: "\e16c";
}
%icon-description {
  @include icon('icomoon--common--material-icons');
  content: "\e873";
}
%icon-phonelink {
  @include icon('icomoon--common--material-icons');
  content: "\e326";
}
%icon-devices_other {
  @include icon('icomoon--common--material-icons');
  content: "\e337";
}
%icon-not_interested {
  @include icon('icomoon--common--material-icons');
  content: "\e033";
}
%icon-do_not_disturb_alt {
  @include icon('icomoon--common--material-icons');
  content: "\e611";
}
%icon-do_not_disturb_off {
  @include icon('icomoon--common--material-icons');
  content: "\e643";
}
%icon-remove_circle {
  @include icon('icomoon--common--material-icons');
  content: "\e15c";
}
%icon-done {
  @include icon('icomoon--common--material-icons');
  content: "\e876";
}
%icon-drafts {
  @include icon('icomoon--common--material-icons');
  content: "\e151";
}
%icon-error {
  @include icon('icomoon--common--material-icons');
  content: "\e000";
}
%icon-error_outline {
  @include icon('icomoon--common--material-icons');
  content: "\e001";
}
%icon-insert_invitation {
  @include icon('icomoon--common--material-icons');
  content: "\e24f";
}
%icon-event_available {
  @include icon('icomoon--common--material-icons');
  content: "\e614";
}
%icon-event_busy {
  @include icon('icomoon--common--material-icons');
  content: "\e615";
}
%icon-favorite {
  @include icon('icomoon--common--material-icons');
  content: "\e87d";
}
%icon-favorite_border {
  @include icon('icomoon--common--material-icons');
  content: "\e87e";
}
%icon-get_app {
  @include icon('icomoon--common--material-icons');
  content: "\e884";
}
%icon-file_upload {
  @include icon('icomoon--common--material-icons');
  content: "\e2c6";
}
%icon-filter {
  @include icon('icomoon--common--material-icons');
  content: "\e3d3";
}
%icon-filter_none {
  @include icon('icomoon--common--material-icons');
  content: "\e3e0";
}
%icon-folder3 {
  @include icon('icomoon--common--material-icons');
  content: "\e2c7";
}
%icon-folder_open {
  @include icon('icomoon--common--material-icons');
  content: "\e2c8";
}
%icon-format_list_bulleted {
  @include icon('icomoon--common--material-icons');
  content: "\e241";
}
%icon-format_list_numbered {
  @include icon('icomoon--common--material-icons');
  content: "\e242";
}
%icon-free_breakfast {
  @include icon('icomoon--common--material-icons');
  content: "\eb44";
}
%icon-home5 {
  @include icon('icomoon--common--material-icons');
  content: "\e88a";
}
%icon-photo2 {
  @include icon('icomoon--common--material-icons');
  content: "\e410";
}
%icon-import_contacts {
  @include icon('icomoon--common--material-icons');
  content: "\e0e0";
}
%icon-inbox2 {
  @include icon('icomoon--common--material-icons');
  content: "\e156";
}
%icon-info3 {
  @include icon('icomoon--common--material-icons');
  content: "\e88e";
}
%icon-info_outline {
  @include icon('icomoon--common--material-icons');
  content: "\e88f";
}
%icon-input {
  @include icon('icomoon--common--material-icons');
  content: "\e890";
}
%icon-insert_comment {
  @include icon('icomoon--common--material-icons');
  content: "\e24c";
}
%icon-insert_drive_file {
  @include icon('icomoon--common--material-icons');
  content: "\e24d";
}
%icon-label {
  @include icon('icomoon--common--material-icons');
  content: "\e892";
}
%icon-label_outline {
  @include icon('icomoon--common--material-icons');
  content: "\e893";
}
%icon-library_books {
  @include icon('icomoon--common--material-icons');
  content: "\e02f";
}
%icon-room {
  @include icon('icomoon--common--material-icons');
  content: "\e8b4";
}
%icon-mail_outline {
  @include icon('icomoon--common--material-icons');
  content: "\e0e1";
}
%icon-markunread_mailbox {
  @include icon('icomoon--common--material-icons');
  content: "\e89b";
}
%icon-menu {
  @include icon('icomoon--common--material-icons');
  content: "\e5d2";
}
%icon-mic2 {
  @include icon('icomoon--common--material-icons');
  content: "\e029";
}
%icon-mic_none {
  @include icon('icomoon--common--material-icons');
  content: "\e02a";
}
%icon-mic_off {
  @include icon('icomoon--common--material-icons');
  content: "\e02b";
}
%icon-mms {
  @include icon('icomoon--common--material-icons');
  content: "\e618";
}
%icon-more_horiz {
  @include icon('icomoon--common--material-icons');
  content: "\e5d3";
}
%icon-move_to_inbox {
  @include icon('icomoon--common--material-icons');
  content: "\e168";
}
%icon-movie_creation {
  @include icon('icomoon--common--material-icons');
  content: "\e404";
}
%icon-music_note {
  @include icon('icomoon--common--material-icons');
  content: "\e405";
}
%icon-navigation {
  @include icon('icomoon--common--material-icons');
  content: "\e55d";
}
%icon-near_me {
  @include icon('icomoon--common--material-icons');
  content: "\e569";
}
%icon-notifications {
  @include icon('icomoon--common--material-icons');
  content: "\e7f4";
}
%icon-notifications_active {
  @include icon('icomoon--common--material-icons');
  content: "\e7f7";
}
%icon-notifications_none {
  @include icon('icomoon--common--material-icons');
  content: "\e7f5";
}
%icon-notifications_off {
  @include icon('icomoon--common--material-icons');
  content: "\e7f6";
}
%icon-notifications_paused {
  @include icon('icomoon--common--material-icons');
  content: "\e7f8";
}
%icon-party_mode {
  @include icon('icomoon--common--material-icons');
  content: "\e7fa";
}
%icon-pause2 {
  @include icon('icomoon--common--material-icons');
  content: "\e034";
}
%icon-pause_circle_filled {
  @include icon('icomoon--common--material-icons');
  content: "\e035";
}
%icon-pause_circle_outline {
  @include icon('icomoon--common--material-icons');
  content: "\e036";
}
%icon-people_outline {
  @include icon('icomoon--common--material-icons');
  content: "\e7fc";
}
%icon-perm_contact_calendar {
  @include icon('icomoon--common--material-icons');
  content: "\e8a3";
}
%icon-person_outline {
  @include icon('icomoon--common--material-icons');
  content: "\e7ff";
}
%icon-perm_media {
  @include icon('icomoon--common--material-icons');
  content: "\e8a7";
}
%icon-person {
  @include icon('icomoon--common--material-icons');
  content: "\e7fd";
}
%icon-person_add {
  @include icon('icomoon--common--material-icons');
  content: "\e7fe";
}
%icon-person_pin {
  @include icon('icomoon--common--material-icons');
  content: "\e55a";
}
%icon-person_pin_circle {
  @include icon('icomoon--common--material-icons');
  content: "\e56a";
}
%icon-play_arrow {
  @include icon('icomoon--common--material-icons');
  content: "\e037";
}
%icon-play_circle_filled {
  @include icon('icomoon--common--material-icons');
  content: "\e038";
}
%icon-play_circle_outline {
  @include icon('icomoon--common--material-icons');
  content: "\e039";
}
%icon-redo {
  @include icon('icomoon--common--material-icons');
  content: "\e15a";
}
%icon-refresh {
  @include icon('icomoon--common--material-icons');
  content: "\e5d5";
}
%icon-reply {
  @include icon('icomoon--common--material-icons');
  content: "\e15e";
}
%icon-reply_all {
  @include icon('icomoon--common--material-icons');
  content: "\e15f";
}
%icon-report {
  @include icon('icomoon--common--material-icons');
  content: "\e160";
}
%icon-warning4 {
  @include icon('icomoon--common--material-icons');
  content: "\e002";
}
%icon-restaurant {
  @include icon('icomoon--common--material-icons');
  content: "\e56c";
}
%icon-ring_volume {
  @include icon('icomoon--common--material-icons');
  content: "\e0d1";
}
%icon-room_service {
  @include icon('icomoon--common--material-icons');
  content: "\eb49";
}
%icon-scanner {
  @include icon('icomoon--common--material-icons');
  content: "\e329";
}
%icon-school {
  @include icon('icomoon--common--material-icons');
  content: "\e80c";
}
%icon-send2 {
  @include icon('icomoon--common--material-icons');
  content: "\e163";
}
%icon-settings {
  @include icon('icomoon--common--material-icons');
  content: "\e8b8";
}
%icon-smoke_free {
  @include icon('icomoon--common--material-icons');
  content: "\eb4a";
}
%icon-smoking_rooms {
  @include icon('icomoon--common--material-icons');
  content: "\eb4b";
}
%icon-store_mall_directory {
  @include icon('icomoon--common--material-icons');
  content: "\e563";
}
%icon-thumb_down {
  @include icon('icomoon--common--material-icons');
  content: "\e8db";
}
%icon-thumb_up {
  @include icon('icomoon--common--material-icons');
  content: "\e8dc";
}
%icon-thumbs_up_down {
  @include icon('icomoon--common--material-icons');
  content: "\e8dd";
}
%icon-today {
  @include icon('icomoon--common--material-icons');
  content: "\e8df";
}
%icon-video_library {
  @include icon('icomoon--common--material-icons');
  content: "\e04a";
}
%icon-videocam {
  @include icon('icomoon--common--material-icons');
  content: "\e04b";
}
%icon-videocam_off {
  @include icon('icomoon--common--material-icons');
  content: "\e04c";
}
%icon-view_list {
  @include icon('icomoon--common--material-icons');
  content: "\e8ef";
}
%icon-view_module {
  @include icon('icomoon--common--material-icons');
  content: "\e8f0";
}
%icon-view_quilt {
  @include icon('icomoon--common--material-icons');
  content: "\e8f1";
}
%icon-view_stream {
  @include icon('icomoon--common--material-icons');
  content: "\e8f2";
}
%icon-visibility_off {
  @include icon('icomoon--common--material-icons');
  content: "\e8f5";
}
%icon-voicemail {
  @include icon('icomoon--common--material-icons');
  content: "\e0d9";
}
%icon-volume_down {
  @include icon('icomoon--common--material-icons');
  content: "\e04d";
}
%icon-volume_mute {
  @include icon('icomoon--common--material-icons');
  content: "\e04e";
}
%icon-volume_off {
  @include icon('icomoon--common--material-icons');
  content: "\e04f";
}
%icon-volume_up {
  @include icon('icomoon--common--material-icons');
  content: "\e050";
}
%icon-vpn_key {
  @include icon('icomoon--common--material-icons');
  content: "\e0da";
}
%icon-wallpaper {
  @include icon('icomoon--common--material-icons');
  content: "\e1bc";
}
%icon-watch {
  @include icon('icomoon--common--material-icons');
  content: "\e334";
}
%icon-watch_later {
  @include icon('icomoon--common--material-icons');
  content: "\e948";
}
%icon-wb_sunny {
  @include icon('icomoon--common--material-icons');
  content: "\e430";
}
%icon-web {
  @include icon('icomoon--common--material-icons');
  content: "\e051";
}
%icon-web_asset {
  @include icon('icomoon--common--material-icons');
  content: "\e069";
}
%icon-weekend {
  @include icon('icomoon--common--material-icons');
  content: "\e16b";
}