/* _styleguide.scss */
// contains styles that will be held on one page to demonstrate the look of the site

.styleguide-page {
  .no-sidebars.page-node-3 {
    #page-title,
    .node {
      @include breakpoint($medium-screen) {
        margin-left: auto;
        margin-right: auto;
        max-width: 85%;
      }
      @include breakpoint($standard-screen) {
        max-width: 75%;
      }
      @include breakpoint($wide-screen) {
        max-width: 65%;
      }
    }
  }

  .styleguide-header {
    clear: both;
    margin-top: ms(5);
    margin-bottom: ms(-3);
    font-size: ms(-1);
    text-transform: uppercase;
    // color: tint($dark-grey,35%);
    color: $dark-grey;
    // border-bottom: 1px solid tint($dark-grey,80%);
    border-bottom: 1px solid $light-grey;

    &:nth-child(1) {
      margin-top: 0;
    }
  }
}