@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1c47yd');
  src:  url('fonts/icomoon.eot?1c47yd#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1c47yd') format('truetype'),
    url('fonts/icomoon.woff?1c47yd') format('woff'),
    url('fonts/icomoon.svg?1c47yd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-addthis:before {
  content: "\e900";
  color: #ff5c3e;
}
.icon-adobe:before {
  content: "\e901";
  color: #f00;
}
.icon-adobeaftereffects:before {
  content: "\e902";
  color: #d291ff;
}
.icon-adobedreamweaver:before {
  content: "\e906";
  color: #35fa00;
}
.icon-adobeillustrator:before {
  content: "\e903";
  color: #ff7c00;
}
.icon-adobeindesign:before {
  content: "\e964";
  color: #fd3f93;
}
.icon-adobelightroom:before {
  content: "\e965";
  color: #add5ec;
}
.icon-adobephotoshop:before {
  content: "\e904";
  color: #00c8ff;
}
.icon-adobetypekit:before {
  content: "\e966";
  color: #87ec00;
}
.icon-amazon:before {
  content: "\e905";
  color: #f90;
}
.icon-android:before {
  content: "\e907";
  color: #a4c639;
}
.icon-apple:before {
  content: "\e908";
  color: #999;
}
.icon-behance:before {
  content: "\e909";
  color: #1769ff;
}
.icon-bower:before {
  content: "\e90b";
  color: #ef5734;
}
.icon-codeigniter:before {
  content: "\e90d";
  color: #ee4623;
}
.icon-css3:before {
  content: "\e90e";
  color: #1572b6;
}
.icon-dribbble:before {
  content: "\e910";
  color: #ea4c89;
}
.icon-dropbox:before {
  content: "\e911";
  color: #0061ff;
}
.icon-drupal:before {
  content: "\e912";
  color: #0678be;
}
.icon-ebay:before {
  content: "\e913";
  color: #e53238;
}
.icon-evernote:before {
  content: "\e90f";
  color: #2dbe60;
}
.icon-facebook:before {
  content: "\e914";
  color: #3b5998;
}
.icon-fitbit:before {
  content: "\e915";
  color: #00b0b9;
}
.icon-foursquare:before {
  content: "\e916";
  color: #f94877;
}
.icon-github:before {
  content: "\e917";
}
.icon-gitlab:before {
  content: "\e918";
  color: #e24329;
}
.icon-gmail:before {
  content: "\e919";
  color: #d14836;
}
.icon-goodreads:before {
  content: "\e91a";
  color: #630;
}
.icon-google:before {
  content: "\e91b";
  color: #4285f4;
}
.icon-googlechrome:before {
  content: "\e91c";
  color: #4285f4;
}
.icon-googledrive:before {
  content: "\e91d";
  color: #4386fc;
}
.icon-googleplus:before {
  content: "\e91e";
  color: #dc4e41;
}
.icon-gravatar:before {
  content: "\e91f";
  color: #1e8cbe;
}
.icon-html5:before {
  content: "\e920";
  color: #e34f26;
}
.icon-instagram:before {
  content: "\e921";
  color: #e4405f;
}
.icon-invision:before {
  content: "\e922";
  color: #f36;
}
.icon-javascript:before {
  content: "\e923";
  color: #f7df1e;
}
.icon-linkedin:before {
  content: "\e925";
  color: #0077b5;
}
.icon-mailchimp:before {
  content: "\e927";
  color: #239ab9;
}
.icon-messenger:before {
  content: "\e928";
  color: #0084ff;
}
.icon-microsoft:before {
  content: "\e929";
  color: #666;
}
.icon-mozillafirefox:before {
  content: "\e930";
  color: #ff9400;
}
.icon-mysql:before {
  content: "\e931";
  color: #4479a1;
}
.icon-npm:before {
  content: "\e933";
  color: #cb3837;
}
.icon-opera:before {
  content: "\e934";
  color: #ff1b2d;
}
.icon-paypal:before {
  content: "\e936";
  color: #00457c;
}
.icon-php:before {
  content: "\e937";
  color: #777bb4;
}
.icon-pinterest:before {
  content: "\e939";
  color: #bd081c;
}
.icon-rails:before {
  content: "\e93e";
  color: #c00;
}
.icon-reddit:before {
  content: "\e93f";
  color: #ff4500;
}
.icon-sass:before {
  content: "\e941";
  color: #c69;
}
.icon-shazam:before {
  content: "\e943";
  color: #08f;
}
.icon-skype:before {
  content: "\e945";
  color: #00aff0;
}
.icon-slack:before {
  content: "\e946";
  color: #56b68b;
}
.icon-snapchat:before {
  content: "\e947";
  color: #fffc00;
}
.icon-spotify:before {
  content: "\e948";
  color: #1ed760;
}
.icon-steam:before {
  content: "\e94a";
}
.icon-sublimetext:before {
  content: "\e94c";
}
.icon-trello:before {
  content: "\e950";
  color: #0079bf;
}
.icon-tumblr:before {
  content: "\e952";
  color: #36465d;
}
.icon-twitch:before {
  content: "\e954";
  color: #6441a4;
}
.icon-twitter:before {
  content: "\e955";
  color: #1da1f2;
}
.icon-uber:before {
  content: "\e956";
}
.icon-vimeo:before {
  content: "\e959";
  color: #1ab7ea;
}
.icon-vine:before {
  content: "\e95a";
  color: #11b48a;
}
.icon-wikipedia:before {
  content: "\e95d";
}
.icon-windows:before {
  content: "\e95e";
  color: #0078d6;
}
.icon-xcode:before {
  content: "\e961";
  color: #1575f9;
}
.icon-yahoo:before {
  content: "\e962";
  color: #409;
}
.icon-youtube:before {
  content: "\e963";
  color: #f00;
}
