@font-face {
  font-family: 'icomoon--brands';
  src:url('../../fonts/icomoon/icomoon--brands/fonts/icomoon.eot?-c3zxka');
  src:url('../../fonts/icomoon/icomoon--brands/fonts/icomoon.eot?#iefix-c3zxka') format('embedded-opentype'),
    url('../../fonts/icomoon/icomoon--brands/fonts/icomoon.woff?-c3zxka') format('woff'),
    url('../../fonts/icomoon/icomoon--brands/fonts/icomoon.ttf?-c3zxka') format('truetype'),
    url('../../fonts/icomoon/icomoon--brands/fonts/icomoon.svg?-c3zxka#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

// @include icon('icomoon--brands');

%icon-addthis {
  @include icon('icomoon--brands');
  content: "\e900";
  color: #ff5c3e;
}
%icon-adobe {
  @include icon('icomoon--brands');
  content: "\e901";
  color: #f00;
}
%icon-adobeaftereffects {
  @include icon('icomoon--brands');
  content: "\e902";
  color: #d291ff;
}
%icon-adobedreamweaver {
  @include icon('icomoon--brands');
  content: "\e906";
  color: #35fa00;
}
%icon-adobeillustrator {
  @include icon('icomoon--brands');
  content: "\e903";
  color: #ff7c00;
}
%icon-adobeindesign {
  @include icon('icomoon--brands');
  content: "\e964";
  color: #fd3f93;
}
%icon-adobelightroom {
  @include icon('icomoon--brands');
  content: "\e965";
  color: #add5ec;
}
%icon-adobephotoshop {
  @include icon('icomoon--brands');
  content: "\e904";
  color: #00c8ff;
}
%icon-adobetypekit {
  @include icon('icomoon--brands');
  content: "\e966";
  color: #87ec00;
}
%icon-amazon {
  @include icon('icomoon--brands');
  content: "\e905";
  color: #f90;
}
%icon-android {
  @include icon('icomoon--brands');
  content: "\e907";
  color: #a4c639;
}
%icon-apple {
  @include icon('icomoon--brands');
  content: "\e908";
  color: #999;
}
%icon-behance {
  @include icon('icomoon--brands');
  content: "\e909";
  color: #1769ff;
}
%icon-bower {
  @include icon('icomoon--brands');
  content: "\e90b";
  color: #ef5734;
}
%icon-codeigniter {
  @include icon('icomoon--brands');
  content: "\e90d";
  color: #ee4623;
}
%icon-css3 {
  @include icon('icomoon--brands');
  content: "\e90e";
  color: #1572b6;
}
%icon-dribbble {
  @include icon('icomoon--brands');
  content: "\e910";
  color: #ea4c89;
}
%icon-dropbox {
  @include icon('icomoon--brands');
  content: "\e911";
  color: #0061ff;
}
%icon-drupal {
  @include icon('icomoon--brands');
  content: "\e912";
  color: #0678be;
}
%icon-ebay {
  @include icon('icomoon--brands');
  content: "\e913";
  color: #e53238;
}
%icon-evernote {
  @include icon('icomoon--brands');
  content: "\e90f";
  color: #2dbe60;
}
%icon-facebook {
  @include icon('icomoon--brands');
  content: "\e914";
  color: #3b5998;
}
%icon-fitbit {
  @include icon('icomoon--brands');
  content: "\e915";
  color: #00b0b9;
}
%icon-foursquare {
  @include icon('icomoon--brands');
  content: "\e916";
  color: #f94877;
}
%icon-github {
  @include icon('icomoon--brands');
  content: "\e917";
}
%icon-gitlab {
  @include icon('icomoon--brands');
  content: "\e918";
  color: #e24329;
}
%icon-gmail {
  @include icon('icomoon--brands');
  content: "\e919";
  color: #d14836;
}
%icon-goodreads {
  @include icon('icomoon--brands');
  content: "\e91a";
  color: #630;
}
%icon-google {
  @include icon('icomoon--brands');
  content: "\e91b";
  color: #4285f4;
}
%icon-googlechrome {
  @include icon('icomoon--brands');
  content: "\e91c";
  color: #4285f4;
}
%icon-googledrive {
  @include icon('icomoon--brands');
  content: "\e91d";
  color: #4386fc;
}
%icon-googleplus {
  @include icon('icomoon--brands');
  content: "\e91e";
  color: #dc4e41;
}
%icon-gravatar {
  @include icon('icomoon--brands');
  content: "\e91f";
  color: #1e8cbe;
}
%icon-html5 {
  @include icon('icomoon--brands');
  content: "\e920";
  color: #e34f26;
}
%icon-instagram {
  @include icon('icomoon--brands');
  content: "\e921";
  color: #e4405f;
}
%icon-invision {
  @include icon('icomoon--brands');
  content: "\e922";
  color: #f36;
}
%icon-javascript {
  @include icon('icomoon--brands');
  content: "\e923";
  color: #f7df1e;
}
%icon-linkedin {
  @include icon('icomoon--brands');
  content: "\e925";
  color: #0077b5;
}
%icon-mailchimp {
  @include icon('icomoon--brands');
  content: "\e927";
  color: #239ab9;
}
%icon-messenger {
  @include icon('icomoon--brands');
  content: "\e928";
  color: #0084ff;
}
%icon-microsoft {
  @include icon('icomoon--brands');
  content: "\e929";
  color: #666;
}
%icon-mozillafirefox {
  @include icon('icomoon--brands');
  content: "\e930";
  color: #ff9400;
}
%icon-mysql {
  @include icon('icomoon--brands');
  content: "\e931";
  color: #4479a1;
}
%icon-npm {
  @include icon('icomoon--brands');
  content: "\e933";
  color: #cb3837;
}
%icon-opera {
  @include icon('icomoon--brands');
  content: "\e934";
  color: #ff1b2d;
}
%icon-paypal {
  @include icon('icomoon--brands');
  content: "\e936";
  color: #00457c;
}
%icon-php {
  @include icon('icomoon--brands');
  content: "\e937";
  color: #777bb4;
}
%icon-pinterest {
  @include icon('icomoon--brands');
  content: "\e939";
  color: #bd081c;
}
%icon-rails {
  @include icon('icomoon--brands');
  content: "\e93e";
  color: #c00;
}
%icon-reddit {
  @include icon('icomoon--brands');
  content: "\e93f";
  color: #ff4500;
}
%icon-sass {
  @include icon('icomoon--brands');
  content: "\e941";
  color: #c69;
}
%icon-shazam {
  @include icon('icomoon--brands');
  content: "\e943";
  color: #08f;
}
%icon-skype {
  @include icon('icomoon--brands');
  content: "\e945";
  color: #00aff0;
}
%icon-slack {
  @include icon('icomoon--brands');
  content: "\e946";
  color: #56b68b;
}
%icon-snapchat {
  @include icon('icomoon--brands');
  content: "\e947";
  color: #fffc00;
}
%icon-spotify {
  @include icon('icomoon--brands');
  content: "\e948";
  color: #1ed760;
}
%icon-steam {
  @include icon('icomoon--brands');
  content: "\e94a";
}
%icon-sublimetext {
  @include icon('icomoon--brands');
  content: "\e94c";
}
%icon-trello {
  @include icon('icomoon--brands');
  content: "\e950";
  color: #0079bf;
}
%icon-tumblr {
  @include icon('icomoon--brands');
  content: "\e952";
  color: #36465d;
}
%icon-twitch {
  @include icon('icomoon--brands');
  content: "\e954";
  color: #6441a4;
}
%icon-twitter {
  @include icon('icomoon--brands');
  content: "\e955";
  color: #1da1f2;
}
%icon-uber {
  @include icon('icomoon--brands');
  content: "\e956";
}
%icon-vimeo {
  @include icon('icomoon--brands');
  content: "\e959";
  color: #1ab7ea;
}
%icon-vine {
  @include icon('icomoon--brands');
  content: "\e95a";
  color: #11b48a;
}
%icon-wikipedia {
  @include icon('icomoon--brands');
  content: "\e95d";
}
%icon-windows {
  @include icon('icomoon--brands');
  content: "\e95e";
  color: #0078d6;
}
%icon-xcode {
  @include icon('icomoon--brands');
  content: "\e961";
  color: #1575f9;
}
%icon-yahoo {
  @include icon('icomoon--brands');
  content: "\e962";
  color: #409;
}
%icon-youtube {
  @include icon('icomoon--brands');
  content: "\e963";
  color: #f00;
}