@font-face {
  font-family: 'icomoon--payments';
  src:url('../../fonts/icomoon/icomoon--payments/fonts/icomoon.eot?-c3zxka');
  src:url('../../fonts/icomoon/icomoon--payments/fonts/icomoon.eot?#iefix-c3zxka') format('embedded-opentype'),
    url('../../fonts/icomoon/icomoon--payments/fonts/icomoon.woff?-c3zxka') format('woff'),
    url('../../fonts/icomoon/icomoon--payments/fonts/icomoon.ttf?-c3zxka') format('truetype'),
    url('../../fonts/icomoon/icomoon--payments/fonts/icomoon.svg?-c3zxka#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

// @include icon('icomoon--payments');

%icon-attach_money {
  @include icon('icomoon--payments');
  content: "\e227";
}
%icon-call_to_action {
  @include icon('icomoon--payments');
  content: "\e06c";
}
%icon-euro_symbol {
  @include icon('icomoon--payments');
  content: "\e926";
}
%icon-fingerprint {
  @include icon('icomoon--payments');
  content: "\e90d";
}
%icon-lock {
  @include icon('icomoon--payments');
  content: "\e897";
}
%icon-local_atm {
  @include icon('icomoon--payments');
  content: "\e53e";
}
%icon-shopping_cart {
  @include icon('icomoon--payments');
  content: "\e8cc";
}
%icon-local_offer {
  @include icon('icomoon--payments');
  content: "\e54e";
}
%icon-lock_open {
  @include icon('icomoon--payments');
  content: "\e898";
}
%icon-lock_outline {
  @include icon('icomoon--payments');
  content: "\e899";
}
%icon-loyalty {
  @include icon('icomoon--payments');
  content: "\e89a";
}
%icon-monetization_on {
  @include icon('icomoon--payments');
  content: "\e263";
}
%icon-style {
  @include icon('icomoon--payments');
  content: "\e41d";
}
%icon-barcode2 {
  @include icon('icomoon--payments');
  content: "\f02a";
}
%icon-tag {
  @include icon('icomoon--payments');
  content: "\f02b";
}
%icon-tags {
  @include icon('icomoon--payments');
  content: "\f02c";
}
%icon-unlock {
  @include icon('icomoon--payments');
  content: "\f09c";
}
%icon-credit-card2 {
  @include icon('icomoon--payments');
  content: "\f09d";
}
%icon-calculator2 {
  @include icon('icomoon--payments');
  content: "\f1ec";
}
%icon-paypal {
  @include icon('icomoon--payments');
  content: "\f1ed";
}
%icon-google-wallet {
  @include icon('icomoon--payments');
  content: "\f1ee";
}
%icon-cc-visa {
  @include icon('icomoon--payments');
  content: "\f1f0";
}
%icon-cc-mastercard {
  @include icon('icomoon--payments');
  content: "\f1f1";
}
%icon-cc-discover {
  @include icon('icomoon--payments');
  content: "\f1f2";
}
%icon-cc-amex {
  @include icon('icomoon--payments');
  content: "\f1f3";
}
%icon-cc-paypal {
  @include icon('icomoon--payments');
  content: "\f1f4";
}
%icon-cc-stripe {
  @include icon('icomoon--payments');
  content: "\f1f5";
}
%icon-price-tag {
  @include icon('icomoon--payments');
  content: "\e935";
}
%icon-price-tags {
  @include icon('icomoon--payments');
  content: "\e936";
}
%icon-barcode {
  @include icon('icomoon--payments');
  content: "\e937";
}
%icon-qrcode {
  @include icon('icomoon--payments');
  content: "\e938";
}
%icon-ticket {
  @include icon('icomoon--payments');
  content: "\e939";
}
%icon-cart {
  @include icon('icomoon--payments');
  content: "\e93a";
}
%icon-coin-dollar {
  @include icon('icomoon--payments');
  content: "\e93b";
}
%icon-coin-euro {
  @include icon('icomoon--payments');
  content: "\e93c";
}
%icon-coin-pound {
  @include icon('icomoon--payments');
  content: "\e93d";
}
%icon-coin-yen {
  @include icon('icomoon--payments');
  content: "\e93e";
}
%icon-credit-card {
  @include icon('icomoon--payments');
  content: "\e93f";
}
%icon-calculator {
  @include icon('icomoon--payments');
  content: "\e940";
}