@font-face {
  font-family: 'icomoon--contact';
  src:url('../../fonts/icomoon/icomoon--contact/fonts/icomoon.eot?-c3zxka');
  src:url('../../fonts/icomoon/icomoon--contact/fonts/icomoon.eot?#iefix-c3zxka') format('embedded-opentype'),
    url('../../fonts/icomoon/icomoon--contact/fonts/icomoon.woff?-c3zxka') format('woff'),
    url('../../fonts/icomoon/icomoon--contact/fonts/icomoon.ttf?-c3zxka') format('truetype'),
    url('../../fonts/icomoon/icomoon--contact/fonts/icomoon.svg?-c3zxka#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

// @include icon('icomoon--contact');

%icon-phone3 {
  @include icon('icomoon--contact');
  content: "\e0cd";
}
%icon-call_end {
  @include icon('icomoon--contact');
  content: "\e0b1";
}
%icon-chat {
  @include icon('icomoon--contact');
  content: "\e0b7";
}
%icon-chat_bubble {
  @include icon('icomoon--contact');
  content: "\e0ca";
}
%icon-chat_bubble_outline {
  @include icon('icomoon--contact');
  content: "\e0cb";
}
%icon-question_answer {
  @include icon('icomoon--contact');
  content: "\e8af";
}
%icon-insert_comment {
  @include icon('icomoon--contact');
  content: "\e24c";
}
%icon-mms {
  @include icon('icomoon--contact');
  content: "\e618";
}
%icon-mode_comment {
  @include icon('icomoon--contact');
  content: "\e253";
}
%icon-perm_camera_mic {
  @include icon('icomoon--contact');
  content: "\e8a2";
}
%icon-perm_contact_calendar {
  @include icon('icomoon--contact');
  content: "\e8a3";
}
%icon-perm_phone_msg {
  @include icon('icomoon--contact');
  content: "\e8a8";
}
%icon-phone_bluetooth_speaker {
  @include icon('icomoon--contact');
  content: "\e61b";
}
%icon-phone_forwarded {
  @include icon('icomoon--contact');
  content: "\e61c";
}
%icon-phone_in_talk {
  @include icon('icomoon--contact');
  content: "\e61d";
}
%icon-phone_iphone {
  @include icon('icomoon--contact');
  content: "\e325";
}
%icon-phone_locked {
  @include icon('icomoon--contact');
  content: "\e61e";
}
%icon-phone_missed {
  @include icon('icomoon--contact');
  content: "\e61f";
}
%icon-phone_paused {
  @include icon('icomoon--contact');
  content: "\e620";
}
%icon-phonelink_erase {
  @include icon('icomoon--contact');
  content: "\e0db";
}
%icon-phonelink_lock {
  @include icon('icomoon--contact');
  content: "\e0dc";
}
%icon-phonelink_off {
  @include icon('icomoon--contact');
  content: "\e327";
}
%icon-phonelink_ring {
  @include icon('icomoon--contact');
  content: "\e0dd";
}
%icon-recent_actors {
  @include icon('icomoon--contact');
  content: "\e03f";
}
%icon-record_voice_over {
  @include icon('icomoon--contact');
  content: "\e91f";
}
%icon-ring_volume {
  @include icon('icomoon--contact');
  content: "\e0d1";
}
%icon-textsms {
  @include icon('icomoon--contact');
  content: "\e0d8";
}
%icon-speaker_notes {
  @include icon('icomoon--contact');
  content: "\e8cd";
}
%icon-speaker_notes_off {
  @include icon('icomoon--contact');
  content: "\e92a";
}
%icon-comment {
  @include icon('icomoon--contact');
  content: "\f075";
}
%icon-comments {
  @include icon('icomoon--contact');
  content: "\f086";
}
%icon-phone {
  @include icon('icomoon--contact');
  content: "\f095";
}
%icon-commenting {
  @include icon('icomoon--contact');
  content: "\f27a";
}
%icon-commenting-o {
  @include icon('icomoon--contact');
  content: "\f27b";
}
%icon-envelope-open {
  @include icon('icomoon--contact');
  content: "\f2b6";
}
%icon-envelope-open-o {
  @include icon('icomoon--contact');
  content: "\f2b7";
}
%icon-address-book {
  @include icon('icomoon--contact');
  content: "\f2b9";
}
%icon-address-book-o {
  @include icon('icomoon--contact');
  content: "\f2ba";
}
%icon-address-card {
  @include icon('icomoon--contact');
  content: "\f2bb";
}
%icon-vcard {
  @include icon('icomoon--contact');
  content: "\f2bb";
}
%icon-address-card-o {
  @include icon('icomoon--contact');
  content: "\f2bc";
}
%icon-vcard-o {
  @include icon('icomoon--contact');
  content: "\f2bc";
}
%icon-id-badge {
  @include icon('icomoon--contact');
  content: "\f2c1";
}
%icon-phone2 {
  @include icon('icomoon--contact');
  content: "\e942";
}
%icon-phone-hang-up {
  @include icon('icomoon--contact');
  content: "\e943";
}
%icon-address-book2 {
  @include icon('icomoon--contact');
  content: "\e944";
}
%icon-envelop {
  @include icon('icomoon--contact');
  content: "\e945";
}
%icon-bubble {
  @include icon('icomoon--contact');
  content: "\e96b";
}
%icon-bubbles {
  @include icon('icomoon--contact');
  content: "\e96c";
}
%icon-bubbles2 {
  @include icon('icomoon--contact');
  content: "\e96d";
}
%icon-bubble2 {
  @include icon('icomoon--contact');
  content: "\e96e";
}
%icon-bubbles3 {
  @include icon('icomoon--contact');
  content: "\e96f";
}
%icon-bubbles4 {
  @include icon('icomoon--contact');
  content: "\e970";
}
