@font-face {
  font-family: 'icomoon--travel';
  src:url('../../fonts/icomoon/icomoon--travel/fonts/icomoon.eot?-c3zxka');
  src:url('../../fonts/icomoon/icomoon--travel/fonts/icomoon.eot?#iefix-c3zxka') format('embedded-opentype'),
    url('../../fonts/icomoon/icomoon--travel/fonts/icomoon.woff?-c3zxka') format('woff'),
    url('../../fonts/icomoon/icomoon--travel/fonts/icomoon.ttf?-c3zxka') format('truetype'),
    url('../../fonts/icomoon/icomoon--travel/fonts/icomoon.svg?-c3zxka#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

// @include icon('icomoon--travel');

%icon-flight {
  @include icon('icomoon--travel');
  content: "\e539";
}
%icon-airplanemode_inactive {
  @include icon('icomoon--travel');
  content: "\e194";
}
%icon-airport_shuttle {
  @include icon('icomoon--travel');
  content: "\eb3c";
}
%icon-directions_bike {
  @include icon('icomoon--travel');
  content: "\e52f";
}
%icon-directions_boat {
  @include icon('icomoon--travel');
  content: "\e532";
}
%icon-directions_bus {
  @include icon('icomoon--travel');
  content: "\e530";
}
%icon-directions_car {
  @include icon('icomoon--travel');
  content: "\e531";
}
%icon-directions_railway {
  @include icon('icomoon--travel');
  content: "\e534";
}
%icon-directions_run {
  @include icon('icomoon--travel');
  content: "\e566";
}
%icon-directions_transit {
  @include icon('icomoon--travel');
  content: "\e535";
}
%icon-directions_walk {
  @include icon('icomoon--travel');
  content: "\e536";
}
%icon-time_to_leave {
  @include icon('icomoon--travel');
  content: "\e62c";
}
%icon-hot_tub {
  @include icon('icomoon--travel');
  content: "\eb46";
}
%icon-local_hotel {
  @include icon('icomoon--travel');
  content: "\e549";
}
%icon-local_airport {
  @include icon('icomoon--travel');
  content: "\e53d";
}
%icon-local_shipping {
  @include icon('icomoon--travel');
  content: "\e558";
}
%icon-local_taxi {
  @include icon('icomoon--travel');
  content: "\e559";
}
%icon-motorcycle {
  @include icon('icomoon--travel');
  content: "\e91b";
}
%icon-rowing {
  @include icon('icomoon--travel');
  content: "\e921";
}
%icon-traffic {
  @include icon('icomoon--travel');
  content: "\e565";
}
%icon-train {
  @include icon('icomoon--travel');
  content: "\e570";
}
%icon-tram {
  @include icon('icomoon--travel');
  content: "\e571";
}
%icon-truck {
  @include icon('icomoon--travel');
  content: "\f0d1";
}
%icon-automobile {
  @include icon('icomoon--travel');
  content: "\f1b9";
}
%icon-car {
  @include icon('icomoon--travel');
  content: "\f1b9";
}
%icon-cab {
  @include icon('icomoon--travel');
  content: "\f1ba";
}
%icon-taxi {
  @include icon('icomoon--travel');
  content: "\f1ba";
}
%icon-bicycle {
  @include icon('icomoon--travel');
  content: "\f206";
}
%icon-bus {
  @include icon('icomoon--travel');
  content: "\f207";
}
%icon-ship {
  @include icon('icomoon--travel');
  content: "\f21a";
}
%icon-motorcycle2 {
  @include icon('icomoon--travel');
  content: "\f21c";
}
%icon-train2 {
  @include icon('icomoon--travel');
  content: "\f238";
}
%icon-subway {
  @include icon('icomoon--travel');
  content: "\f239";
}
%icon-airplane {
  @include icon('icomoon--travel');
  content: "\e9af";
}
%icon-truck2 {
  @include icon('icomoon--travel');
  content: "\e9b0";
}