@mixin bevel {
  // .diagonal {
  //   left: -15px;
  //   width: 90%; /* width of overall box, variable or fixed */ 
  //   margin: 0 auto;
  //   position: relative;
  //   margin-bottom: 15px;
  //   .bevel {
  //     border: 15px solid #efefef;
  //     &.tr {
  //       height: 0px;
  //       width: 100%;
  //       border-top: 0;
  //       border-right-color: transparent;
  //     }
  //     &.tl {
  //       height: 0px;
  //       width: 100%;
  //       border-top: 0;
  //       border-left-color: transparent;
  //     }
  //   }
  // }
}