@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?kfqifu');
  src:  url('fonts/icomoon.eot?kfqifu#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?kfqifu') format('truetype'),
    url('fonts/icomoon.woff?kfqifu') format('woff'),
    url('fonts/icomoon.svg?kfqifu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-flight:before {
  content: "\e539";
}
.icon-airplanemode_inactive:before {
  content: "\e194";
}
.icon-airport_shuttle:before {
  content: "\eb3c";
}
.icon-directions_bike:before {
  content: "\e52f";
}
.icon-directions_boat:before {
  content: "\e532";
}
.icon-directions_bus:before {
  content: "\e530";
}
.icon-directions_car:before {
  content: "\e531";
}
.icon-directions_railway:before {
  content: "\e534";
}
.icon-directions_run:before {
  content: "\e566";
}
.icon-directions_transit:before {
  content: "\e535";
}
.icon-directions_walk:before {
  content: "\e536";
}
.icon-time_to_leave:before {
  content: "\e62c";
}
.icon-hot_tub:before {
  content: "\eb46";
}
.icon-local_hotel:before {
  content: "\e549";
}
.icon-local_airport:before {
  content: "\e53d";
}
.icon-local_shipping:before {
  content: "\e558";
}
.icon-local_taxi:before {
  content: "\e559";
}
.icon-motorcycle:before {
  content: "\e91b";
}
.icon-rowing:before {
  content: "\e921";
}
.icon-traffic:before {
  content: "\e565";
}
.icon-train:before {
  content: "\e570";
}
.icon-tram:before {
  content: "\e571";
}
.icon-truck:before {
  content: "\f0d1";
}
.icon-automobile:before {
  content: "\f1b9";
}
.icon-car:before {
  content: "\f1b9";
}
.icon-cab:before {
  content: "\f1ba";
}
.icon-taxi:before {
  content: "\f1ba";
}
.icon-bicycle:before {
  content: "\f206";
}
.icon-bus:before {
  content: "\f207";
}
.icon-ship:before {
  content: "\f21a";
}
.icon-motorcycle2:before {
  content: "\f21c";
}
.icon-train2:before {
  content: "\f238";
}
.icon-subway:before {
  content: "\f239";
}
.icon-airplane:before {
  content: "\e9af";
}
.icon-truck2:before {
  content: "\e9b0";
}
