@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?v5zb1u');
  src:  url('fonts/icomoon.eot?v5zb1u#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?v5zb1u') format('truetype'),
    url('fonts/icomoon.woff?v5zb1u') format('woff'),
    url('fonts/icomoon.svg?v5zb1u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home2:before {
  content: "\e949";
}
.icon-home22:before {
  content: "\e94a";
}
.icon-home3:before {
  content: "\e94b";
}
.icon-office:before {
  content: "\e94c";
}
.icon-newspaper:before {
  content: "\e94d";
}
.icon-pencil2:before {
  content: "\e94e";
}
.icon-pencil22:before {
  content: "\e94f";
}
.icon-quill:before {
  content: "\e950";
}
.icon-pen:before {
  content: "\e951";
}
.icon-eyedropper2:before {
  content: "\e952";
}
.icon-droplet:before {
  content: "\e953";
}
.icon-paint-format:before {
  content: "\e954";
}
.icon-image2:before {
  content: "\e955";
}
.icon-images:before {
  content: "\e956";
}
.icon-camera2:before {
  content: "\e957";
}
.icon-headphones:before {
  content: "\e958";
}
.icon-music2:before {
  content: "\e959";
}
.icon-play2:before {
  content: "\e95a";
}
.icon-film2:before {
  content: "\e95b";
}
.icon-video-camera2:before {
  content: "\e95c";
}
.icon-bullhorn2:before {
  content: "\e95d";
}
.icon-mic:before {
  content: "\e95e";
}
.icon-book2:before {
  content: "\e95f";
}
.icon-books:before {
  content: "\e960";
}
.icon-file-text2:before {
  content: "\e961";
}
.icon-file-empty:before {
  content: "\e962";
}
.icon-files-empty:before {
  content: "\e963";
}
.icon-file-text22:before {
  content: "\e964";
}
.icon-file-picture:before {
  content: "\e965";
}
.icon-file-music:before {
  content: "\e966";
}
.icon-file-play:before {
  content: "\e967";
}
.icon-copy:before {
  content: "\e968";
}
.icon-paste:before {
  content: "\e969";
}
.icon-stack:before {
  content: "\e96a";
}
.icon-folder2:before {
  content: "\e96b";
}
.icon-folder-open2:before {
  content: "\e96c";
}
.icon-folder-plus:before {
  content: "\e96d";
}
.icon-folder-minus:before {
  content: "\e96e";
}
.icon-cart:before {
  content: "\e96f";
}
.icon-phone2:before {
  content: "\e970";
}
.icon-phone-hang-up:before {
  content: "\e971";
}
.icon-address-book2:before {
  content: "\e972";
}
.icon-envelop:before {
  content: "\e973";
}
.icon-pushpin:before {
  content: "\e974";
}
.icon-location:before {
  content: "\e975";
}
.icon-location2:before {
  content: "\e976";
}
.icon-compass:before {
  content: "\e977";
}
.icon-map2:before {
  content: "\e978";
}
.icon-map22:before {
  content: "\e979";
}
.icon-clock:before {
  content: "\e97a";
}
.icon-clock2:before {
  content: "\e97b";
}
.icon-alarm:before {
  content: "\e97c";
}
.icon-bell2:before {
  content: "\e97d";
}
.icon-stopwatch:before {
  content: "\e97e";
}
.icon-calendar2:before {
  content: "\e97f";
}
.icon-printer:before {
  content: "\e980";
}
.icon-drawer:before {
  content: "\e981";
}
.icon-drawer2:before {
  content: "\e982";
}
.icon-download2:before {
  content: "\e983";
}
.icon-upload:before {
  content: "\e984";
}
.icon-floppy-disk:before {
  content: "\e985";
}
.icon-database:before {
  content: "\e986";
}
.icon-user2:before {
  content: "\e987";
}
.icon-users2:before {
  content: "\e988";
}
.icon-spinner:before {
  content: "\e989";
}
.icon-spinner2:before {
  content: "\e98a";
}
.icon-spinner3:before {
  content: "\e98b";
}
.icon-spinner4:before {
  content: "\e98c";
}
.icon-spinner5:before {
  content: "\e98d";
}
.icon-spinner6:before {
  content: "\e98e";
}
.icon-spinner7:before {
  content: "\e98f";
}
.icon-spinner8:before {
  content: "\e990";
}
.icon-spinner9:before {
  content: "\e991";
}
.icon-spinner10:before {
  content: "\e992";
}
.icon-search2:before {
  content: "\e993";
}
.icon-key:before {
  content: "\e994";
}
.icon-key2:before {
  content: "\e995";
}
.icon-lock2:before {
  content: "\e996";
}
.icon-unlocked:before {
  content: "\e997";
}
.icon-wrench2:before {
  content: "\e998";
}
.icon-cog2:before {
  content: "\e999";
}
.icon-cogs2:before {
  content: "\e99a";
}
.icon-hammer:before {
  content: "\e99b";
}
.icon-magic-wand:before {
  content: "\e99c";
}
.icon-trophy2:before {
  content: "\e99e";
}
.icon-gift:before {
  content: "\e99f";
}
.icon-glass2:before {
  content: "\e9a0";
}
.icon-glass22:before {
  content: "\e9a1";
}
.icon-mug:before {
  content: "\e9a2";
}
.icon-spoon-knife:before {
  content: "\e9a3";
}
.icon-leaf:before {
  content: "\e9a4";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-bin2:before {
  content: "\e9ad";
}
.icon-briefcase2:before {
  content: "\e9ae";
}
.icon-airplane:before {
  content: "\e9af";
}
.icon-truck:before {
  content: "\e9b0";
}
.icon-shield:before {
  content: "\e9b4";
}
.icon-download22:before {
  content: "\e9c5";
}
.icon-upload2:before {
  content: "\e9c6";
}
.icon-download3:before {
  content: "\e9c7";
}
.icon-upload3:before {
  content: "\e9c8";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-link2:before {
  content: "\e9cb";
}
.icon-flag2:before {
  content: "\e9cc";
}
.icon-attachment:before {
  content: "\e9cd";
}
.icon-eye2:before {
  content: "\e9ce";
}
.icon-eye-blocked:before {
  content: "\e9d1";
}
.icon-bookmark2:before {
  content: "\e9d2";
}
.icon-bookmarks:before {
  content: "\e9d3";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-half2:before {
  content: "\e9d8";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-heart2:before {
  content: "\e9da";
}
.icon-warning2:before {
  content: "\ea07";
}
.icon-notification:before {
  content: "\ea08";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-blocked:before {
  content: "\ea0e";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-enter:before {
  content: "\ea13";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-checkbox-unchecked:before {
  content: "\ea53";
}
.icon-radio-checked:before {
  content: "\ea54";
}
.icon-radio-checked2:before {
  content: "\ea55";
}
.icon-radio-unchecked:before {
  content: "\ea56";
}
