@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?opogni');
  src:  url('fonts/icomoon.eot?opogni#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?opogni') format('truetype'),
    url('fonts/icomoon.woff?opogni') format('woff'),
    url('fonts/icomoon.svg?opogni#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-times2:before {
  content: "\e900";
}
.icon-tick:before {
  content: "\e901";
}
.icon-plus2:before {
  content: "\e902";
}
.icon-minus2:before {
  content: "\e903";
}
.icon-chevron-right:before {
  content: "\e904";
}
.icon-chevron-left:before {
  content: "\e905";
}
.icon-arrow-right-thick:before {
  content: "\e906";
}
.icon-arrow-left-thick:before {
  content: "\e907";
}
.icon-th-small:before {
  content: "\e908";
}
.icon-th-menu:before {
  content: "\e909";
}
.icon-th-list2:before {
  content: "\e90a";
}
.icon-th-large2:before {
  content: "\e90b";
}
.icon-home4:before {
  content: "\e90c";
}
.icon-arrow-forward:before {
  content: "\e90d";
}
.icon-arrow-back:before {
  content: "\e90e";
}
.icon-location3:before {
  content: "\e90f";
}
.icon-link3:before {
  content: "\e910";
}
.icon-image3:before {
  content: "\e911";
}
.icon-arrow-up-thick:before {
  content: "\e912";
}
.icon-arrow-down-thick:before {
  content: "\e913";
}
.icon-delete:before {
  content: "\e914";
}
.icon-delete-outline:before {
  content: "\e915";
}
.icon-heart3:before {
  content: "\e916";
}
.icon-cancel:before {
  content: "\e917";
}
.icon-backspace:before {
  content: "\e918";
}
.icon-attachment2:before {
  content: "\e919";
}
.icon-warning3:before {
  content: "\e91a";
}
.icon-lock-open:before {
  content: "\e91b";
}
.icon-lock-closed:before {
  content: "\e91c";
}
.icon-location-arrow2:before {
  content: "\e91d";
}
.icon-info2:before {
  content: "\e91e";
}
.icon-user-delete:before {
  content: "\e91f";
}
.icon-user-add:before {
  content: "\e920";
}
.icon-group2:before {
  content: "\e921";
}
.icon-eye3:before {
  content: "\e922";
}
.icon-cog3:before {
  content: "\e923";
}
.icon-camera3:before {
  content: "\e924";
}
.icon-upload4:before {
  content: "\e925";
}
.icon-pin:before {
  content: "\e926";
}
.icon-key3:before {
  content: "\e927";
}
.icon-info-large:before {
  content: "\e928";
}
.icon-download4:before {
  content: "\e929";
}
.icon-zoom:before {
  content: "\e92a";
}
.icon-zoom-out:before {
  content: "\e92b";
}
.icon-zoom-in:before {
  content: "\e92c";
}
.icon-sort-numerically:before {
  content: "\e92d";
}
.icon-sort-alphabetically:before {
  content: "\e92e";
}
.icon-input-checked:before {
  content: "\e92f";
}
.icon-calender:before {
  content: "\e930";
}
.icon-world:before {
  content: "\e931";
}
.icon-notes:before {
  content: "\e932";
}
.icon-code:before {
  content: "\e933";
}
.icon-spanner:before {
  content: "\e934";
}
.icon-phone3:before {
  content: "\e935";
}
.icon-microphone2:before {
  content: "\e936";
}
.icon-flag3:before {
  content: "\e937";
}
.icon-social-twitter:before {
  content: "\e938";
}
.icon-social-facebook:before {
  content: "\e939";
}
.icon-social-dribbble:before {
  content: "\e93a";
}
.icon-media-stop:before {
  content: "\e93b";
}
.icon-media-record:before {
  content: "\e93c";
}
.icon-media-play:before {
  content: "\e93d";
}
.icon-media-fast-forward:before {
  content: "\e93e";
}
.icon-media-eject:before {
  content: "\e93f";
}
.icon-social-vimeo:before {
  content: "\e940";
}
.icon-social-tumbler:before {
  content: "\e941";
}
.icon-social-skype:before {
  content: "\e942";
}
.icon-social-pinterest:before {
  content: "\e943";
}
.icon-social-linkedin:before {
  content: "\e944";
}
.icon-social-github:before {
  content: "\e945";
}
.icon-social-flickr:before {
  content: "\e946";
}
