@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?m2ocbe');
  src:  url('fonts/icomoon.eot?m2ocbe#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?m2ocbe') format('truetype'),
    url('fonts/icomoon.woff?m2ocbe') format('woff'),
    url('fonts/icomoon.svg?m2ocbe#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-attach_money:before {
  content: "\e227";
}
.icon-call_to_action:before {
  content: "\e06c";
}
.icon-euro_symbol:before {
  content: "\e926";
}
.icon-fingerprint:before {
  content: "\e90d";
}
.icon-lock:before {
  content: "\e897";
}
.icon-local_atm:before {
  content: "\e53e";
}
.icon-shopping_cart:before {
  content: "\e8cc";
}
.icon-local_offer:before {
  content: "\e54e";
}
.icon-lock_open:before {
  content: "\e898";
}
.icon-lock_outline:before {
  content: "\e899";
}
.icon-loyalty:before {
  content: "\e89a";
}
.icon-monetization_on:before {
  content: "\e263";
}
.icon-style:before {
  content: "\e41d";
}
.icon-barcode2:before {
  content: "\f02a";
}
.icon-tag:before {
  content: "\f02b";
}
.icon-tags:before {
  content: "\f02c";
}
.icon-unlock:before {
  content: "\f09c";
}
.icon-credit-card2:before {
  content: "\f09d";
}
.icon-calculator2:before {
  content: "\f1ec";
}
.icon-paypal:before {
  content: "\f1ed";
}
.icon-google-wallet:before {
  content: "\f1ee";
}
.icon-cc-visa:before {
  content: "\f1f0";
}
.icon-cc-mastercard:before {
  content: "\f1f1";
}
.icon-cc-discover:before {
  content: "\f1f2";
}
.icon-cc-amex:before {
  content: "\f1f3";
}
.icon-cc-paypal:before {
  content: "\f1f4";
}
.icon-cc-stripe:before {
  content: "\f1f5";
}
.icon-price-tag:before {
  content: "\e935";
}
.icon-price-tags:before {
  content: "\e936";
}
.icon-barcode:before {
  content: "\e937";
}
.icon-qrcode:before {
  content: "\e938";
}
.icon-ticket:before {
  content: "\e939";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-coin-dollar:before {
  content: "\e93b";
}
.icon-coin-euro:before {
  content: "\e93c";
}
.icon-coin-pound:before {
  content: "\e93d";
}
.icon-coin-yen:before {
  content: "\e93e";
}
.icon-credit-card:before {
  content: "\e93f";
}
.icon-calculator:before {
  content: "\e940";
}
